/* styles.css */

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(2, 189, 2);
    background-clip: content-box;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 900px;
    padding: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 2em;
}

/* Header Styles */
header {
    background-color: #4a4a4a;
    color: #fff;
    padding: 1em 0;
    margin-bottom: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Main Content Styles */
main {
    padding: 0 2em;
    text-align: center;
}

h2 {
    color: #333;
}

#app-description p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6em;
}

/* Download Button Styles */
.download-button {
    display: inline-block;
    padding: 1em 2em;
    margin: 1em;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #e64a19;
}

/* Footer Styles */
footer {
    padding: 1em 0;
    background-color: #4a4a4a;
    color: #fff;
    margin-top: 2em;
}

.ad-footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-top: 0.5px solid #ddd;
}




